.center {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* for IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* for Safari */
    text-align: center;
}

body {
    background-color: green;
    font-family: 'Poppins';
    overflow: hidden;
}

canvas {
    outline: 2px white solid;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.678);
    cursor: default;
}

.modal-content {
    background-color: rgb(0, 105, 26);
    color: rgb(202, 202, 202);
    margin: 10vh auto;
    text-align: center;
    font-size: 200%;
    padding: 20px;
    border: 4px solid #888;
    width: 80vw;
}

.modal-content .name {
    color: rgb(238, 255, 0);
    font-weight: bold;
}

.modal-content .modaltext {
    margin-bottom: -10vh;
}

input[type=text] {
    background-color: rgb(250, 250, 250);
    color: green;
    display: none;
}

.inp {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inp+label {
    /* display: none; */
    border: none;
    background-color: rgb(0, 83, 139);
    color: white;
    padding-top: 0vw;
    font-size: 7.5vh;
    margin-right: 2vw;
    transition: all ease-in-out 150ms;
}

.inp:focus+label,
.inp+label:hover {
    /* display: none; */
    transition: all ease-in-out 150ms;
    border: none;
    background-color: rgb(0, 53, 66);
}

.modal-content .modalbutton {
    display: none;
    border: none;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    background-color: red;
    color: white;
    font-size: 7vh;
    margin-right: 2vw;
    transition: all ease-in-out 150ms;
}

.modal-content .modalbutton:hover {
    background-color: darkred;
    transition: all ease-in-out 150ms;
}

.modal-content .smbbutton {
    display: none;
    border: none;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    background-color: rgb(130, 139, 0);
    color: white;
    font-size: 7vh;
    transition: all ease-in-out 150ms;
}

.modal-content .smbbutton:hover {
    background-color: rgb(56, 66, 0);
    transition: all ease-in-out 150ms;
}

.modal-content .text {
    margin-top: 15vh;
}

.playerhud {
    float: left;
    margin-left: 15vw;
    margin-top: 45vh;
    width: 10vw;
    height: 50vh;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: grey;
    padding: 0vw 2vw;
    border: 2px solid white;
    text-align: center;
    overflow: hidden;
}

.playerhud .head {
    font-size: 4vh;
    margin-top: -0.5vh;
    color: rgb(238, 255, 0);
    width: 100%;
    font-weight: bold;
}

.playerhud .subhead {
    font-size: 2vh;
    margin-top: -0.5vh;
    font-weight: bold;
}

.playerhud .info {
    margin-top: -4vh;
}

.playerhud .buttonbank {
    position: absolute;
    bottom: 1vh;
}

.playerhud .savebtn {
    border: none;
    padding: 0.6vw;
    background-color: rgb(130, 139, 0);
    color: white;
    font-size: 2vh;
    margin-left: -2vh;
    transition: all ease-in-out 150ms;
}

.playerhud .savebtn:hover {
    background-color: rgb(56, 66, 0);
    transition: all ease-in-out 150ms;
}

.open {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    /* z-index: 1; */
}

.open+label {
    border: none;
    background-color: rgb(0, 83, 139);
    color: white;
    font-size: 2vh;
    padding: 0.6vw;
    margin-left: 2vh;
    transition: all ease-in-out 150ms;
}

.open:focus+label,
.open+label:hover {
    transition: all ease-in-out 150ms;
    border: none;
    background-color: rgb(0, 53, 66);
}